* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}
main {
  width: 70%;
  height: 50%;
  border: 5px solid #007bff;
  margin-top: 15px;
}

body main {
  width: 70%;
  height: 50%;
  border: 5px solid #777baa;
  margin-top: 15px;
}

#interfaz {
  width: 70%;
  height: 50%;
  border: 5px solid #ff0000;
  margin-top: 15px;
}

/*
Hijo directo
*/

body > main {
  width: 70%;
  height: 50%;
  border: 5px solid #0d00ff;
  margin-top: 15px;
}

/*
Hermano adyacente
*/
main + footer {
  text-align: center;
}

/*
selector de atributo
*/
main[role='main'] {
  width: 70%;
  height: 50%;
  border: 5px solid #04ff00;
  margin-top: 15px;
}
/*
pseudo-clase
*/
main > :first-child {
  text-align: center;
  color: #ff0000;
}
.encabezado > :first-child:before {
  content: '>> ';
  color: #007bff;
}

.valor-peligro {
  color: red;
}
.menu > :first-child {
  background-color: red;
}
