.modal {
   display: none; /* Ocultamos el modal por defecto */
   position: fixed; /* Fijamos la posición */
   z-index: 1; /* Aseguramos que esté encima de otros elementos */
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto; /* Permite el scroll si el contenido es muy grande */
   background-color: rgba(0,0,0,0.4); /* Fondo semitransparente */
 }
 
 .modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
 }
 
 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }